/* New Written CSS on line 234*/

body {
    font-family: 'Poppins', sans-serif;
    padding-right: 0px !important;
}

input[type='radio']:checked:after {
    width: 6px;
    height: 6px;
    border-radius: 15px;
    top: -6px;
    left: 3px;
    position: relative;
    background-color: #ff6b53;
    content: '';
    display: inline-block;
    visibility: visible;
}

.btn:active:focus,
.btn:focus {
    outline: none !important;
}

.dropdown-menu .test a {
    white-space: normal;
}

a {
    cursor: pointer;
}

.section1 {
    background-image: url('../images/bg-section1.png');
    background-size: cover;
}

.section1 .radio-inline+.radio-inline {
    margin-top: 0;
    margin-left: 30px;
}

.section1 .btn-primary {
    background-color: #5a4edc;
}

.section1 .btn-primary:active:focus,
.section1 .btn-primary:active:hover {
    background-color: #5a4edc;
}

.section2,
.section4,
.section6,
.main-wrapper {
    background: url('../images/circles.png') no-repeat left center;
}

.section3 {
    background-image: url('../images/bg-section3.png');
    background-size: cover;
}

.section31 {
    background-image: linear-gradient(295deg, #6617d8, #485ddd);
}

.section5 {
    background-image: linear-gradient(313deg, #6617d8, #485ddd);
}

.form-control-feedback {
    pointer-events: auto;
}

.main-search-wrapper .btn {
    padding: 12px 16px;
    margin-top: 2px;
    margin-left: -19px;
    border-radius: 30px;
    background-image: linear-gradient(125deg, #ff6e52, #ffc828);
    box-shadow: 0 0 10px 0 rgba(255, 191, 45, 0.2);
}

.main-search-wrapper .btn .fa {
    color: #fff;
}

.section_mgn {
    margin: 100px auto;
}

.bg-blue {
    background-color: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom, #009cde, #003087 125%);
}

.bg-white {
    background-color: #fff;
}

.m-tb-60 {
    margin: 60px auto;
}

.m-tb-50 {
    margin: 50px auto;
}

.m-t-5 {
    margin-top: 5%;
}

.m-b-5 {
    margin-bottom: 5%;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-t-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.m-b-10 {
    margin-bottom: 30px;
}

.m-b-100 {
    margin-bottom: 100px;
}

.navbar {
    margin-bottom: 0px;
}

.nav a {
    color: #fff;
}

.section1 .navbar-brand {
    padding: 0 0px;
}

.section1 .dropdown-menu>li>a:focus,
.section1 .dropdown-menu>li>a:hover {
    background-color: #5c65de;
    color: #fff;
}

.section1 .nav>li>a:hover,
.section1 .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    opacity: .7;
    color: #fff;
    outline: none;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.navbar-toggle {
    border: 1px solid white;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.upper {
    text-transform: uppercase;
}

.orange {
    color: #f35b3f;
}

.text-white {
    color: #fff;
}

.text-blue {
    color: #0061d3;
}

.form_card {
    padding: 25px 40px;
    border-radius: 8px;
}

.main-search-wrapper .form-group {
    margin-bottom: 30px;
}

.form_card1 {
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
    margin: 5% auto;
}

.form_card .form-control {
    background-color: #f1f1f175;
    border: 1px solid #cccccc8a;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.form_card .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* New Written CSS */

.divBlockParent{
    overflow: auto;
}

.divBlockChild{
    max-width: 50%;
    direction: rtl;
}

.card{
    padding: 3%;
}

/* New Written CSS */

.fright {
    float: right;
}

.fleft {
    float: left;
}

.f-16 {
    font-size: 16px;
}

.f-12 {
    font-size: 12px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.has-feedback .form-control {
    border-radius: 40px;
    height: 50px;
}

.card {
    box-shadow: 0 0 5px #c0c0c0;
    padding: 7%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.service_card {
    box-shadow: 0 0 5px #c0c0c0;
    padding: 7% 2% 7% 0%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.scrollspy-sidenav1:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.50);
    z-index: 2;
    -webkit-transform: scale(1.01);
    transition: all 100ms ease-in;
}

.scrollspy-sidenav1 {
    margin-bottom: 20px;
    padding: 20px 10px;
}

.service_card .nav a {
    color: #000;
    padding: 5px 15px;
    border-radius: 0px;
}

.service_subcard {
    box-shadow: 0 0 5px #c0c0c0;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.service_card .nav-pills>li.active>a,
.service_card .nav-pills>li.active>a:focus,
.service_card .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #485bdc;
    opacity: 1;
}

.card hr {
    margin: 10px auto;
}

.section6 p,
.section5 p,
.section31 .form_card1 p,
.card-body,
.section2 small,
.section2 .card div {
    color: #a2a2a2;
}

.section31 .form_card1 {
    margin: 0% auto 10% !important;
}

.section7 {
    background: url('../images/circles.png') no-repeat right center;
}

.section7 img {
    margin: 30px;
}

.footer {
    background-image: url('../images/bg-footer.png');
    background-size: cover;
}

.text-grey-footer p a,
.text-grey-footer {
    color: #a2a2a2 !important;
}

.valign-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.client_image {
    min-height: 180px;
}

.modal.modal-login .modal-content {
    width: 380px;
    margin: 0 auto;
}

.modal.modal-border-transparent .modal-content {
    border: 5px solid rgba(255, 255, 255, 0.4);
    box-shadow: none;
    padding: 0;
    border-radius: 3px;
}

.modal .modal-content .btn-close {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1052;
    font-size: 12px;
}

.btn.btn-facebook {
    background: #3b5998;
    color: #FFF;
}

.modal-seperator {
    border-bottom: 1px solid #CCC;
    text-align: center;
    margin: 20px 0 45px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.modal-seperator span {
    width: 40px;
    height: 40px;
    border: 1px solid #CCC;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 38px;
    display: block;
    margin-bottom: -20px;
    background: #FFF;
    font-weight: 600;
}

input[type='checkbox']+label {
    margin: 0;
    clear: none;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    line-height: 15px;
    position: relative;
}

#login-form .checkbox {
    display: inline;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 95px;
    right: 42px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0061d3;
    color: white;
    cursor: pointer;
    padding: 11px 15px;
    border-radius: 28px;
}

#myBtn:hover {
    background-color: cornflowerblue;
}

@media(min-width:1200px) {
    .card-body {
        min-height: 60px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .card-body {
        min-height: 80px;
    }
}

@media(min-width:992px) {
    .c_search {
        margin-top: 60px;
    }
    .section31 .form_card1 .row {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
    .scrollspy-sidenav1-section1 {
        min-height: 60px;
    }
}

@media(max-width:992px) {
    .c_search {
        margin-top: 60px;
    }
    .section_mgn {
        margin: 50px auto;
    }
    .company-registration {
        margin-bottom: 50px;
    }
    .section31 .form_card1 .row {
        text-align: center;
    }
}

@media(max-width:992px) and (min-width:768px) {
    .card-body {
        min-height: 100px;
    }
}

@media(max-width:767px) {
    .nav .dropdown-menu li a {
        color: #fff;
    }
    .nav .dropdown-submenu>a:after,
    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }
    .nav .dropdown-menu>li>a:focus,
    .nav .dropdown-menu>li>a:hover {
        background-color: transparent;
    }
    .navbar-collapse {
        border-top: 1px solid #fff;
    }
}


/* .service-dropdown .dropdown-menu>li:hover {
    background-color: #5c65de;
    color: #fff;
} */

.btn-orange {
    background: #ff6f00;
    text-shadow: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-orange:hover {
    background: #ff6f00;
    text-shadow: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
}

.india-contract {
    background: url('../images/circles.png') no-repeat right center;
}

#copyright {
    background: #000;
    padding-top: 10px;
}

.pagelist {
    background: #ccc;
    padding: 10px 0;
}

.left-banner h4 {
    padding-left: 55px;
}

.left-banner h4::before {
    content: url('../images/interface.png');
    padding-right: 40px;
    margin-left: -55px;
}

.left-banner p {
    padding-left: 55px;
}

.page_dnm h3 {
    color: #0061d3;
    text-align: center;
    text-transform: uppercase;
}

#documents .page_dnm h3 {
    color: #fff;
    font-weight: 700;
}
